@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@1,500&family=Poppins&family=Roboto:wght@500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* > * {
  font-family: "Poppins", sans-serif;
}

body {
  background: rgb(119, 115, 206);
  background: linear-gradient(
    45deg,
    rgb(13, 10, 83) 0%,
    rgb(18, 16, 147) 0%,
    rgba(9, 121, 97, 1) 41%,
    rgba(5, 161, 255, 1) 80%,
    rgba(0, 212, 255, 1) 100%
  );
}
