@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@1,500&family=Poppins&family=Roboto:wght@500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* > * {
  font-family: "Poppins", sans-serif;
}

body {
  background: #dcdcdc;
  background-image: url("./assests/Background.png");
}
